
    /* Google Font*/
     @import url(https://fonts.googleapis.com/css?family=B612+Mono&display=swap);
      .gfont {
      font-family: 'B612 Mono', monospace;
     }

    body {
        background-color: white;
        margin: 0;
    }

    .header{
        margin: 0;
        padding: 50px;
        background-color: #FFF9F9;
        text-align: center;
        font-family: 'B612 Mono', monospace;
        color: darkslategrey;
    }
    .header > h1 {
        background-color:transparent;
        font-size: 70px;
    }
    .header > p {
        background-color:transparent;
        font-size: 30px;
    }
    .links {
        margin: 0;
        padding: 30px;
        background-color: #D6E5FA;
        text-align: center;
        font-family: 'B612 Mono', monospace;
        font-size: 30px
    }

    .links > td {
        margin-left: 100%;
        margin-right: 100%;
    }


    a:visited {
        text-decoration: none;
        color: darkslategrey;
    }
    a:active {
        text-decoration: none;
        color: darkslategrey;
    }
    a:hover {
        text-decoration: none;
        color: lightgoldenrodyellow;
    }
    a:focus {
        text-decoration: none;
        color: lightgoldenrodyellow;
    }
    a {
        text-decoration: none;
    }

    .div-3 {
        margin: 0;
        padding: 30px;
        background-color: #BAABDA;
        font-family: 'B612 Mono', monospace;
        font-size: 30px
    }

    .div-3 > table {
        alignment: center;
        padding: 30px;
        width: 50%;
    }

